<div class="modal-header">
    <h4 class="modal-title">
    <span>
     {{!!ctrl.refUpdateData.ref_id ? 'Рэдагаваць даведнік' : 'Дадаць даведнік' }}
    </span>
    </h4>
    <button type="button"
            class="close"
            ng-click="ctrl.cancel()">&times;
    </button>
</div>
<div class="modal-body">
    <form>
        <input type="hidden" ng-model="ctrl.refUpdateData.ref_id">
        <div class="form-group">
            <label for="RefTitle">Назва даведніка</label>
            <input type="text"
                   class="form-control"
                   id="RefTitle"
                   placeholder="Назва даведніка"
                   ng-model="ctrl.refUpdateData.ref_title">
        </div>

        <div class="form-group">
            <label for="RefName">Абазначэнне даведніка</label>
            <input type="text"
                   class="form-control"
                   id="RefName"
                   placeholder="Абазначэнне даведніка"
                   ng-model="ctrl.refUpdateData.ref_name">
        </div>

        <div class="form-group">
            <label for="RefDescription">Аписанне даведніка</label>
            <textarea class="form-control"
                      id="RefDescription"
                      ng-model="ctrl.refUpdateData.ref_description"
                      rows="3">

            </textarea>
        </div>
    </form>
</div>
<div class="modal-footer">
    <div class="pull-right">
        <button type="button"
                class="btn btn-default no-highlight "
                ng-click="ctrl.cancel()">Отмена
        </button>
        <button type="button"
                class="btn btn-default filter-btn "
                ng-click="ctrl.save()">Сохранить
        </button>
    </div>
</div>